body {
  background-color: #e0ebeb;
  font-family: Verdana;
}

#showall {
  background-color: blue;
  margin-left: 42px;
  padding: 7px;
  border-radius: 5px;
}

h1 {
  margin-left: 42px;
}

#container {
  margin-left: 30px;
  margin-top: 20px;
  padding: 20px;
}

#contact {
  margin-right: 30px;
  font-size: 24px;
  font-weight: bold;
}

#first_name {
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
}

#last_name {
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
}

#phone {
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
}

#email {
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}
