<h1>Contact List</h1>
<button id="showall">Show all contacts</button>
<div id = "container">
  <div id="contact">Contact(s): </div>
  <!-- <br>
  <br>
  <div id="names">Name: </div>
  <br> -->
  <!-- <br>
  <div id="last_name">Last name: </div>
  <br> -->
 <!--  <br>
  <div id="phone">Phone number: </div>
  <br>
  <br>
  <div id="email">Email: </div>  -->
</div>
  